*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  background-color: black;
  display:flex;
  justify-content: center;
}

h1{
  color: white;
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  color: cyan;

}

p{
  color: white;
  padding: 1rem 0 1rem 0;
  width: 50%;
  float: left;
  font-size: 1.5rem;
 
}

.wrapper{
  position: relative;
  margin: 3rem 2rem 3rem 2rem;
  width: 80rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid white;

}

.slider{
  position: relative;
  overflow: hidden;
  max-width: 60rem;
  height: auto;
}

.slides{
 width: 500%;
 height: 100%;
 display: flex; 
}

.slides .slide{
  width: 20%;
  display: flex;
  flex-direction: column;
  transition: .7s;
  
}

.slides .slide img{
  max-width: 50rem;
  height: auto;
  object-fit: cover;
  
}


input{
 visibility: hidden;
}

.slider-nav{
  position: relative;
  top: -11.7rem;
  left: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider-nav .slider-nav-item{
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 0.1rem solid white;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
  transition: all .5s ease;
}

.slider-nav .slider-nav-item:hover{
  background-color: cyan;
}

#s1:checked ~ .s1{
  margin-left: 0;
}

#s2:checked ~ .s1{
  margin-left: -20%;
}

#s3:checked ~ .s1{
  margin-left: -40%;
}

#s4:checked ~ .s1{
  margin-left: -60%;
}
